.tile {
    color: blue;
    background-color: black;
    padding: 20px 50px;
    min-height: 60px;
    clip-path: polygon(0% 0%, 
                       calc(100% - 30px) 0%, 
                       100% calc(0% + 30px), 
                       100% 100%, 
                       calc(0% + 30px) 100%, 
                       0% calc(100% - 30px));
}